name: Continuous Integration

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main

permissions:
  contents: read

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - uses: actions/setup-python@v6
        with:
          cache: pip

      - name: Check versions
        run: |
          python --version
          pip --version

      - name: Install dependencies
        run: make venv

      - name: Run tests
        run: make test
